:root {
    --text-color-white: #FFFFFF;
    --text-color-grey: #F5F5F5;
    --text-color-grey-01: #b3b3b3;
    --text-color-black-01: #000000;
    --text-color-black-02: #333333;

    --bg-color-primary: #073C39;
    --bg-color-white: #FFFFFF;
    --bg-color-white-opacity: rgba(255, 255, 255, 0.5);
    --bg-color-black: #000000;
    --bg-color-grey: #F5F5F5;
    --bg-color-grey-01: #E5E5E5;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-primary);
    display: flex;
    overflow: hidden;

    .vectorTop {
        position: absolute;
        top: 0;
        left: 0;
    }

    .vectorBottom {
        position: absolute;
        bottom: -20px;
        right: 0;
        z-index: 1;
    }

    .container {
        max-width: 1170px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        .headerLeft {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            align-items: flex-start;
            gap: 1rem;
            flex-basis: 50%;

            h1 {
                font-size: 3.4rem;
                font-weight: 500;
                color: var(--text-color-white);
                font-family: 'poppins';
            }

            p {
                font-size: 1rem;
                font-weight: 300;
                color: var(--text-color-grey-01);
                font-family: 'manrope';
                margin-top: 1rem;
            }

            .headerLeftInput {
                display: flex;
                align-items: center;
                margin-top: 1rem;

                input {
                    background-color:  rgba(255, 255, 255, 0.3);
                    width: 100%;
                    height: 40px;
                    border-radius: 5px 0 0 5px;
                    border: none;
                    outline: none;
                    padding: 0 1rem;
                    font-size: .85rem;
                    font-weight: 300;
                    color: var(--text-color-white);
                    font-family: 'manrope';
                }

                input::placeholder {
                    color: var(--text-color-grey-01);
                }

                button {
                    width: 100px;
                    height: 40px;
                    padding: 0 1rem;
                    border-radius: 0 5px 5px 0;
                    border: none;
                    outline: none;
                    background-color: var(--bg-color-white);
                    color: var(--text-color-black-02);
                    font-size: .85rem;
                    font-weight: 700;
                    font-family: 'manrope';
                    cursor: pointer;
                }
            }
        }
        .headerRight {
            display: flex;
            flex-basis: 40%;
            margin-top: 4rem;
        }
    }
}

// Responsive Start

@media screen and (max-width: 1200px) {
    header {
        .container {
            max-width: 1170px;
            width: 80%;
            margin: 0 auto;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            position: relative;

            .headerLeft {
                width: 700px;
                height: 500px;

                h1 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: .8rem;
                }

                .headerLeftInput {
                    margin-top: 1rem;

                    input {
                        height: 35px;
                        font-size: .8rem;
                    }

                    button {
                        height: 35px;
                        font-size: .8rem;
                    }
                }
            }

            .headerRight {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {

        .vectorBottom {
            position: absolute;
            bottom: -150px;
            right: -50px;
            transform: rotate(-10deg);
        }
        .container {
            max-width: 991px;
            width: 80%;
            margin: 0 auto;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            place-items: center;
            position: relative;

            .headerLeft {
                width: 300px;
                height: 500px;
                position: relative;

                h1 {
                    font-size: 1.7rem;
                }

                p {
                    font-size: .8rem;
                }

                .headerLeftInput {
                    margin-top: 1rem;

                    input {
                        height: 35px;
                        font-size: .8rem;
                    }

                    button {
                        height: 35px;
                        font-size: .8rem;
                    }
                }
            }

            .headerRight {
                display: none;
            }
        }
    }
}