:root {
    --background-primary: #fff;
    --background-active-item: #073c39;
    --background-grey-01: #f5f5f5;
    --background-black-01: #1F1F22;

    --color-black-primary: #09090A;
    --color-black-secondary: #1F1F22;
}

.groupeManagement {

    .container {
        max-width: 1170px;
        width: 80%;
        margin: 10rem auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: center;
        height: auto;
        gap: 2rem;

        .rightContent {
            background-color: var(--background-primary);
            border-radius: 6px;
            padding: 2rem;

            .headerManage {
                background-color: var(--background-grey-01);
                padding: 16px 24px;
                border-radius: 4px;

                h2 {
                    font-size: 1rem;
                    font-weight: 600;
                    font-family: 'poppins';
                    color: var(--color-black-primary);
                }
            }

            .contentBox {
                display: flex;
                gap: 1rem;
                padding: 1rem;
                width: 100%;

                .selectChoice {
                    display: none;
                }

                .groupeList {
                    display: flex;
                    gap: 1rem;
                    border-bottom: 2px solid #ccc;
                    width: 100%;
                    position: relative;

                    a {
                        text-decoration: none;
                        color: var(--color-black-primary);
                        font-family: 'poppins';
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 1rem;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: var(--background-grey-01);
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -2px;
                            transform: translate(-15%, 0);
                            width: 0;
                            height: 2px;
                            background-color: var(--background-black-01);
                        }

                        &.active {
                            background-color: var(--background-active-item);
                            color: var(--background-primary);
                            &::before {
                                width: 15%;
                            }
                        }
                    }
                }
            }
        }
    }
}

[data-theme='dark']{
    .groupeManagement {
        .container {
            .rightContent {
                background-color: var(--background-black-01);

                .headerManage {
                    background-color: var(--background-black-01);

                    h2 {
                        color: var(--background-primary);
                    }
                }

                .contentBox {
                    .groupeList {
                        a {
                            color: var(--background-primary);

                            &:hover {
                                color: var(--background-black-01);
                            }

                            &::before {
                                background-color: var(--background-primary);
                            }

                            &.active {
                                background-color: var(--background-active-item);
                                color: var(--background-black-01);
                            }
                        }
                    }
                }
            }
        }
    }
}

// RESPONSIVE LAPTOP DEVICE 1550PX
@media screen and (max-width: 1550px) {
    .groupeManagement {
        .container {
            width: 90%;
            margin-bottom: 0;
        }
    }
}



// TABLET AND MOBILE DEVICE
@media screen and (min-width: 992px) {
    .groupeManagement {
        .container {
            .sideNavMobile {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .groupeManagement {
        .container {

            grid-template-columns: 1fr;

            .sideNavDesktop {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .groupeManagement {
        margin: 4rem 0;
        .container {
            .rightContent {
                .contentBox {
                    .selectChoice {
                        display: block;

                        .select {
                            select {
                                width: 100%;
                                padding: .6rem 1rem;
                                border-radius: 33px;
                                border: 1px solid #ccc;
                                font-family: 'poppins';
                                font-size: 1rem;
                                font-weight: 600;
                                color: var(--color-black-primary);
                                outline: none;
                                cursor: pointer;

                                option {
                                    font-family: 'poppins';
                                    font-size: 1rem;
                                    font-weight: 600;
                                    color: var(--color-black-primary);
                                }
                            }
                        }
                    }

                    .groupeList {
                        display: none;
                    }
                }
            }
        }
    }
}