:root {
    --background-primary: #fff;
    --background-active-item: #073c39;
    --background-grey-01: #f5f5f5;
    --background-black-01: #1F1F22;

    --color-black-primary: #09090A;
    --color-black-secondary: #1F1F22;
}

.groupeManagement {

    .container {
        max-width: 1170px;
        width: 80%;
        margin: 10rem auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: center;
        height: auto;
        gap: 2rem;

        .rightContent {
            background-color: var(--background-primary);
            padding: 2rem;
            border: 3px solid #000;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 900px;
            position: relative;

            @media only screen and (min-width: 991px) and (max-width: 1250px) {
                max-width: 600px;
            }

            .headerManage {
                background-color: var(--background-grey-01);
                padding: 16px 24px;
                border-radius: 4px;

                h2 {
                    font-size: 1rem;
                    font-weight: 600;
                    font-family: 'poppins';
                    color: var(--color-black-primary);
                }
            }

            .contentBox {
                display: flex;
                gap: 1rem;
                padding: 1rem 0;
                width: 100%;
                
                justify-content: space-between;

                .selectChoice {
                    display: none;
                }

                .groupeList {
                    display: flex;
                    align-items: center;
                    border-bottom: 2px solid #ccc;
                    overflow-x: auto;
                    overflow-y: hidden;
                    position: relative;
                    max-width: 500px;
                    width: 50%;

                    &::-webkit-scrollbar {
                        height: 5px;
                        background-color: #ccc;
                        border-radius: 4px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--background-active-item);
                        border-radius: 4px;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        color: var(--color-black-primary);
                        font-family: 'poppins';
                        font-size: .8rem;
                        font-weight: 600;
                        width: 150px;
                        padding: 1.2rem;
                        transition: all 0.3s ease-in-out;
                        background-color: transparent;
                        border: none;

                        &:hover {
                            background-color: var(--background-grey-01);
                        }

                        &.active {
                            background-color: var(--background-active-item);
                            color: var(--background-primary);

                            label {
                                input {
                                    color: var(--background-primary);
                                }
                            }

                            button {
                                border-color: var(--background-primary);
                                i {
                                    color: var(--background-primary);
                                }
                            }
                        }

                        label {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            width: 100%;

                            input {
                                border: none;
                                outline: none;
                                background-color: transparent;
                                color: var(--color-black-primary);
                                font-family: 'poppins';
                                font-size: .8rem;
                                text-align: center;
                            }
                        }

                        button {
                            display: flex;
                            align-items: center;
                            border: 1px solid var(--color-black-primary);
                            background-color: transparent;
                            cursor: pointer;
                            padding: .15rem;
                            i {
                                font-size: 1rem;
                                color: #000;
                            }
                        }
                    }

                }

                .cta {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    @media only screen and (max-width: 1280px) {
                        flex-direction: column;
                        gap: 1rem;
                    }
                    
                    .addGroupe {
                        display: flex;
                        align-items: center;
                        width: 200px;
                        
                        input {
                            padding: .6rem 1rem;
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;
                            border: 1px solid #ccc;
                            font-family: 'poppins';
                            font-size: .8rem;
                            font-weight: 600;
                            color: var(--color-black-primary);
                            outline: none;
                            width: 100%;

                            &:focus {
                                border: 1px solid var(--background-active-item);
                            }
                        }
    
                        button {
                            padding: .5rem 1rem;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                            border: 1px solid #ccc;
                            font-family: 'poppins';
                            font-size: 1rem;
                            font-weight: 600;
                            color: var(--color-black-primary);
                            outline: none;
                            cursor: pointer;
                            background-color: var(--background-active-item);
                            color: var(--background-primary);
                            transition: opacity .15s ease-in-out;
    
                            &:hover {
                                opacity: .95;
                            }
                        }
                    }
    
                    .addMember {
                        display: flex;
                        align-items: center;
                        width: 200px;
    
                        select {
                            padding: .6rem 1rem;
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;
                            border: 1px solid #ccc;
                            font-family: 'poppins';
                            font-size: .8rem;
                            font-weight: 600;
                            color: var(--color-black-primary);
                            outline: none;
                            cursor: pointer;
                            width: 100%;

                            option {
                                font-family: 'poppins';
                                font-size: .8rem;
                                font-weight: 600;
                                color: var(--color-black-primary);
                                padding: .6rem 1rem;
                            }
                        }
    
                        button {
                            padding: .5rem 1rem;
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                            border: 1px solid #ccc;
                            font-family: 'poppins';
                            font-size: 1rem;
                            font-weight: 600;
                            color: var(--color-black-primary);
                            outline: none;
                            cursor: pointer;
                            background-color: var(--background-active-item);
                            color: var(--background-primary);
                            transition: opacity .15s ease-in-out;
    
                            &:hover {
                                opacity: .95;
                            }
                        }
                    }
                }
            }

            .table {
                .loading {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 3rem 0;
    
                    span {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 5px solid #ccc;
                        border-top-color: var(--background-active-item);
                        animation: rotate 2s infinite cubic-bezier(0.215, 0.610, 0.355, 1);
                    }
                }

                .empty {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 3rem 0;
                    background-color: var(--background-grey-01);

                    h2 {
                        font-size: .9rem;
                        font-weight: 500;
                        font-family: 'poppins';
                        color: var(--color-black-primary);
                    }
                }
            }

            @keyframes rotate {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            .deleteGroup {
                position: absolute;
                bottom: 70px;
                right: -50px;
                transform: translate(-50%, -50%);

                @media only screen and (max-width: 1280px){
                    position: static;
                    bottom: 0;
                    right: 0;
                    transform: translate(0, 0);
                    margin: 1rem 0;
                }

                button {
                    width: 180px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                    border-radius: 33px;
                    border: 1px solid #1F1F22;
                    font-family: 'poppins';
                    font-size: .75rem;
                    font-weight: 600;
                    color: var(--color-black-primary);
                    background-color: var(--background-primary);
                    outline: none;
                    cursor: pointer;
                    transition: all .2s ease-in-out;

                    &.active {
                        cursor: not-allowed;
                        opacity: .5;
                        background-color: var(--background-grey-01);
                        color: var(--background-grey-02);
                        border-color: #ccc;

                        &:hover {
                            background-color: var(--background-grey-01);
                            color: var(--background-grey-02);
                        }
                    }

                    &:hover {
                        background-color: var(--background-active-item);
                        color: #fafafa;
                    }

                    i {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

[data-theme='dark']{
    .groupeManagement {
        .container {
            .rightContent {
                background-color: var(--background-black-01);

                .headerManage {
                    background-color: var(--background-black-01);

                    h2 {
                        color: var(--background-primary);
                    }
                }

                .contentBox {
                    .groupeList {
                        a {
                            color: var(--background-primary);

                            &:hover {
                                color: var(--background-black-01);
                            }

                            &::before {
                                background-color: var(--background-primary);
                            }

                            &.active {
                                background-color: var(--background-active-item);
                                color: var(--background-black-01);
                            }
                        }
                    }
                }
            }
        }
    }
}

// RESPONSIVE LAPTOP DEVICE 1550PX
@media screen and (max-width: 1550px) {
    .groupeManagement {
        .container {
            width: 90%;
            margin-bottom: 0;
        }
    }
}



// TABLET AND MOBILE DEVICE
@media screen and (min-width: 992px) {
    .groupeManagement {
        .container {
            .sideNavMobile {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .groupeManagement {
        .container {

            grid-template-columns: 1fr;

            .sideNavDesktop {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .groupeManagement {
        margin: 4rem 0;
        .container {
            .rightContent {
                .contentBox {
                    .selectChoice {
                        display: block;

                        .select {
                            select {
                                width: 100%;
                                padding: .6rem 1rem;
                                border-radius: 33px;
                                border: 1px solid #ccc;
                                font-family: 'poppins';
                                font-size: 1rem;
                                font-weight: 600;
                                color: var(--color-black-primary);
                                outline: none;
                                cursor: pointer;

                                option {
                                    font-family: 'poppins';
                                    font-size: 1rem;
                                    font-weight: 600;
                                    color: var(--color-black-primary);
                                }
                            }
                        }
                    }

                    .groupeList {
                        display: none;
                    }
                }
            }
        }
    }
}