:root {
    --background-primary: #fff;
    --background-active-item: #073c39;
    --background-grey-01: #f8f9fd;
    --background-grey-02: #b9b9b9;
    --background-black-01: #1F1F22;

    --color-black-primary: #09090A;
    --color-black-secondary: #1F1F22;
    --color-white-primary: #fff;
}

// TABLE COMPONENT STYLE

.tableWrapper {
    max-height: 300px;
    overflow-y: auto;

    // Scrollbar style
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: var(--background-grey-02);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--background-active-item);
        border-radius: 2px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        border-radius: 5px;
        font-family: 'manrope';
    
        thead {
            tr {
                th {
                    position: sticky;
                    top: 0;
                    padding: 10px 16px;
                    background-color: var(--background-grey-01);
                    border-bottom: 2px solid #ddd;
                    
                    .checkBox {
                        display: flex;
                        input {
                            appearance: none;
                            width: 18px;
                            height: 18px;
                            border-radius: 3px;
                            border: 2px solid #505050;
                            cursor: pointer;
        
                            &:checked {
                                background-color: var(--background-active-item);
                                border: 2px solid var(--background-active-item);
                            }
                        }
                    }
    
                    .identity {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
    
                        span {
                            font-size: .85rem;
                            font-weight: 400;
                            font-family: 'manrope';
                            color: var(--color-black-primary);
                        }
                    }
    
                    .phone {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
    
                        span {
                            font-size: .85rem;
                            font-weight: 400;
                            font-family: 'manrope';
                            color: var(--color-black-primary);
                        }
                    }
    
                    .status {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
    
                        span {
                            font-size: .85rem;
                            font-weight: 400;
                            font-family: 'manrope';
                            color: var(--color-black-primary);
                        }
                    }
    
                    .tag {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
    
                        span {
                            font-size: .85rem;
                            font-weight: 400;
                            font-family: 'manrope';
                            color: var(--color-black-primary);
                        }
                    }
                }
            }
        }
    
        tbody {
            tr {
                border-bottom: 1px solid #ddd;
                td {
                    padding: 10px 16px;
    
                    .checkBox {
                        display: flex;
                        input {
                            appearance: none;
                            width: 18px;
                            height: 18px;
                            border-radius: 3px;
                            border: 2px solid #505050;
                            cursor: pointer;
        
                            &:checked {
                                background-color: var(--background-active-item);
                                border: 2px solid var(--background-active-item);
                            }
                        }
                    }
    
                    .identity {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
    
                        .avatar {
                            width: 50px;
                            height: 50px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
    
                        .text {
                            .coord {
                                display: flex;
                                flex-direction: column;
                            }

                            .info {
                                display: none;
                            }
    
                            span:first-child {
                                font-size: .85rem;
                                font-weight: 700;
                                font-family: 'manrope';
                                color: var(--color-black-primary);
                            }
                            span {
                                font-size: .85rem;
                                font-weight: 400;
                                font-family: 'manrope';
                                color: var(--color-black-primary);
                            }
                        }
                    }
    
                    .phone {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
    
                        span {
                            font-size: .85rem;
                            font-weight: 400;
                            font-family: 'manrope';
                            color: var(--color-black-primary);
                        }
                    }
    
                    .status {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
    
                        span {
                            font-size: .8rem;
                            font-weight: 400;
                            font-family: 'manrope';
                            background-color: #259333;
                            color: var(--color-white-primary);
                            padding: 5px 15px;
                        }
                    }
    
                    .tag {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
    
                        span {
                            font-size: .85rem;
                            font-weight: 400;
                            font-family: 'manrope';
                            color: var(--color-black-primary);
                        }
                    }
                }
            }

            tr:last-child {
                border-bottom: none;
            }
        }
    }
}

// RESPONSIVE MOBILE DEVICE AND TABLET

@media screen and (max-width: 991px) {
    .tableWrapper {
        max-height: 100%;
        overflow-y: auto;
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #fff;
            border-radius: 5px;
            font-family: 'manrope';
        
            thead {
                tr {
                    th {
                        position: sticky;
                        top: 0;
                        padding: 10px 16px;
                        background-color: var(--background-grey-01);
                        border-bottom: 2px solid #ddd;
                        
                        .checkBox {
                            display: flex;
                            input {
                                appearance: none;
                                width: 15px;
                                height: 15px;
                                border-radius: 3px;
                                border: 2px solid #505050;
                                cursor: pointer;
            
                                &:checked {
                                    background-color: var(--background-active-item);
                                    border: 2px solid var(--background-active-item);
                                }
                            }
                        }
        
                        .identity {
                            i {
                                font-size: .9rem;
                            }
                            span {
                                font-size: .8rem;
                            }
                        }
        
                        .phone {
                            i {
                                font-size: .9rem;
                            }
                            span {
                                font-size: .8rem;
                            }
                        }
        
                        .status {
                            i {
                                font-size: .9rem;
                            }
                            span {
                                font-size: .8rem;
                            }
                        }
        
                        .tag {
                            i {
                                font-size: .9rem;
                            }
                            span {
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid #ddd;
                    td {
                        padding: 10px 16px;
        
                        .checkBox {
                            display: flex;
                            input {
                                appearance: none;
                                width: 15px;
                                height: 15px;
                                border-radius: 3px;
                                border: 2px solid #505050;
                                cursor: pointer;
            
                                &:checked {
                                    background-color: var(--background-active-item);
                                    border: 2px solid var(--background-active-item);
                                }
                            }
                        }
        
                        .identity {
                            .avatar {
                                width: 40px;
                                height: 40px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
        
                            .text {
                                span:first-child {
                                    font-size: .8rem;
                                }
                                span {
                                    font-size: .8rem;
                                }
                            }
                        }
        
                        .phone {
                            span {
                                font-size: .8rem;
                            }
                        }
        
                        .status {
                            span {
                                font-size: .75rem;
                            }
                        }
        
                        .tag {
                            span {
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .tableWrapper {
        max-height: 100%;
        overflow-y: auto;

        // LIMIT COLUMN TABLE TO 1
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #fff;
            border-radius: 5px;
            font-family: 'manrope';
        
            thead {
                tr {
                    th {
                        position: sticky;
                        top: 0;
                        padding: 10px 16px;
                        background-color: var(--background-grey-01);
                        border-bottom: 2px solid #ddd;
                        
                        .checkBox {
                            display: flex;
                            input {
                                appearance: none;
                                width: 15px;
                                height: 15px;
                                border-radius: 3px;
                                border: 2px solid #505050;
                                cursor: pointer;
            
                                &:checked {
                                    background-color: var(--background-active-item);
                                    border: 2px solid var(--background-active-item);
                                }
                            }
                        }
        
                        .identity {
                            i {
                                font-size: .9rem;
                            }
                            span {
                                font-size: .8rem;
                            }
                        }
        
                        .phone {
                            i {
                                font-size: .9rem;
                            }
                            span {
                                font-size: .8rem;
                            }
                        }
        
                        .status {
                            i {
                                font-size: .9rem;
                            }
                            span {
                                font-size: .8rem;
                            }
                        }
        
                        .tag {
                            i {
                                font-size: .9rem;
                            }
                            span {
                                font-size: .8rem;
                            }
                        }

                        &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                            display: none;
                        }
                    }
                }
            }

            tbody {
                tr {
                    td:nth-child(3), td:nth-child(4), td:nth-child(5) {
                        display: none;
                    }

                    td {
                        .identity {
                            display: flex;
                            align-items: flex-start;
                            .text {
                                display: flex;
                                flex-direction: column;
                                gap: .5rem;
                                .coord {
                                    border: 1px solid #ddd;
                                    padding: .5rem;
                                    span:first-child {
                                        font-size: .9rem;
                                    }
                                }
                                
                                .info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: .5rem;

                                    span.tel {
                                        display: flex;
                                        align-items: center;
                                        gap: .5rem;
                                        i {
                                            font-size: .9rem;
                                        }
                                        span {
                                            font-size: .8rem;
                                        }
                                    }

                                    span.status {
                                        display: flex;
                                        align-items: center;
                                        gap: .5rem;
                                        i {
                                            font-size: .9rem;
                                        }
                                        span {
                                            font-size: .7rem;
                                            color: var(--background-primary);
                                        }
                                    }

                                    span.tag {
                                        display: flex;
                                        align-items: center;
                                        gap: .5rem;
                                        i {
                                            font-size: .9rem;
                                        }
                                        span {
                                            font-size: .8rem;
                                            display: flex;
                                            gap: .5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}