// Variable colors et bg colors
:root {
    --text-color-white: #FFFFFF;
    --text-color-grey: #F5F5F5;
    --text-color-black-01: #000000;
    --text-color-black-02: #333333;

    --bg-color-primary: #073C39;
    --bg-color-white: #FFFFFF;
    --bg-color-black: #000000;
    --bg-color-grey: #F5F5F5;
    --bg-color-grey-01: #E5E5E5;

}

/* DEFAULT NAVBAR STYLE */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    z-index: 2;

    .container {
        max-width: 1170px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navTopLeft {
            width: 170px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }

        .navTopRight {
            display: flex;
            align-items: center;
            gap: 2.5rem;

            .navTopList {
                display: flex;
                align-items: center;
                gap: 1rem;

                li {
                    list-style: none;
                    
                    a {
                        text-decoration: none;
                        color: var(--text-color-white);
                        font-size: .85rem;
                        font-family: 'manrope';
                        transition: opacity .3s ease-in-out;

                        &:hover {
                            opacity: .8;
                        }
                    }
                }

                li:last-child {
                    display: none;
                }
            }

            .account {
                a {
                    text-decoration: none;

                    button {
                        background-color: var(--bg-color-white);
                        color: var(--text-color-black-01);
                        border: none;
                        width: 120px;
                        height: 40px;
                        border-radius: 4px;
                        font-size: .85rem;
                        font-family: 'manrope';
                        cursor: pointer;

                        &:hover {
                            background-color: var(--bg-color-grey);
                        }
                    }
                }
            }
        }
        .MenuMobileToggle {
            display: none;
        }
    }
}

// NAVBAR TWO
nav.two {
    background-color: var(--bg-color-primary);
}

// Navbar responsive

@media screen and (max-width: 991px) {
    nav {
        .container {
            .navTopLeft {
                width: 120px;
                height: 30px;
            }

            .navTopRight {
                .navTopList {
                    position: fixed;
                    width: 50%;
                    height: 100vh;
                    top: 0;
                    right: 0;
                    background-color: var(--bg-color-white);
                    z-index: 2;
                    flex-direction: column;
                    justify-content: center;
                    transform: translateX(100%);
                    transition: transform .3s ease-in-out;

                    &.active {
                        transform: translateX(0);
                    }

                    li {
                        a {
                            color: var(--text-color-black-02);
                            font-size: 1.2rem;
                            font-family: 'poppins';
                            padding: 1rem 0;
                            display: block;
                            text-align: center;
                            transition: opacity .3s ease-in-out;

                            &:hover {
                                opacity: .8;
                            }
                        }
                    }
                    li:last-child {
                        display: block;
                        position: absolute;
                        bottom: .5rem;
                        left: 50%;
                        transform: translateX(-50%);

                        a {
                            text-decoration: none;
        
                            button {
                                background-color: var(--bg-color-primary);
                                color: var(--text-color-white);
                                border: none;
                                width: 120px;
                                height: 40px;
                                border-radius: 4px;
                                font-size: .85rem;
                                font-family: 'manrope';
                            }
                        }
                    }
                }

                .account {
                    display: none;
                }
            }
            .MenuMobileToggle {
                position: fixed;
                top: 2rem;
                right: 2rem;
                z-index: 3;
                display: inline-block;
                cursor: pointer;
                width: 25px;
                height: 14px;
                border-radius: 9999px;

                .line {
                    position: absolute;
                    height: 2px;
                    background-color: var(--text-color-white);
                    transition: transform .3s ease-in-out, opacity .3s ease-in-out, background-color .3s ease-in-out;
                }

                &.active {
                    .line {
                        background-color: var(--bg-color-black);
                    }

                    .l1 {
                        top: 10px;
                        transform: rotate(45deg);
                    }

                    .l2 {
                        opacity: 0;
                    }

                    .l3 {
                        transform: rotate(-45deg);
                        top: 10px;
                        width: 80%;
                    }
                }

                .l1 {
                    width: 80%;
                    top: 5px;
                    right: 0;
                }

                .l2 {
                    width: 60%;
                    top: 12px;
                    right: 0;
                    transform: translateY(-50%);
                }

                .l3 {
                    width: 40%;
                    top: 17px;
                    right: 0;
                }
            }
        }
    }
}